<header id="header" class="">
	<a href="/" title="" class="btn btn-secondary">Pantalla Principal</a>
</header><!-- /header -->
<div class="container">
	<div class="row">
		<div class="col-md-4 mx-auto">
			<div class="card text-center">
				<div class="card-header">
					<h2>Inicia Sesión</h2>
				</div>
				<div class="card-body">
					<form action="/login" method="post" accept-charset="utf-8">
						<div class="form-group">
							<input type="text" name="usuario" placeholder="Usuario" class="form-control">
						</div>
						<div class="form-group">
							<input type="password" name="password" placeholder="Contraseña" class="form-control">
						</div>
						<div class="form-group">
							<button class="btn btn-primary">Iniciar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>