<header id="header" class="">
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" href="/">Principal</a>
	  	<div class="navbar-expand" id="navbarNavAltMarkup">
		    <div class="navbar-nav">
		      <a class="nav-item nav-link" href="/update/basico/{{id}}">Datos Básicos</a>
		      <a class="nav-item nav-link" href="/update/formacion/{{id}}">Formación Académica</a>
		      <a class="nav-item nav-link" href="/update/experiencia/{{id}}">Experiencia</a>
		      <a class="nav-item nav-link" href="/update/habilidades/{{id}}">Habilidades</a>
		      <a class="nav-item nav-link active" href="/logout">Cerrar Sesión</a>
		    </div>
	  	</div>
	</nav>
</header><!-- /header -->
